* {
	box-sizing: border-box;
}

/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font: 12px/18px Tahoma, sans-serif;
	height: 100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */

html {
	height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}

html {
	min-width: 600px;
	max-width: 1400px;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
}

/* Header
-----------------------------------------------------------------------------*/
.headImg {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 100;
}

.flex-container {
	display: flex;
	position: relative;
	width: auto;
	height: 300px;
	margin: 10px;
	justify-content: space-around;
}

.flex-container .name {
	color: rgb(0, 91, 9);
	background-color: rgb(200, 200, 200, .6);
	padding: 10px;
	border-radius: 20px;
  font-size: 800%;
	font-weight: bold;
  margin-top: 0;
  text-shadow: rgba(0, 0, 0, .7) 5px 5px 5px;
	font-family: 'Roboto Slab', serif;
	line-height: 1;
	align-self: center;
	text-decoration: none;
	z-index: 200;

}

.flex-container .presentation {
  width: auto;
  background-color: rgb(200, 200, 200, .6);
	border-radius: 20px;
  padding: 10px;
  color: rgb(229, 237, 76);
  font-style: oblique;
  font-size: 25px;
	line-height: 1;
  text-shadow: rgba(0, 0, 0, 1) 5px 5px 5px;
	align-self: center;
	z-index: 200;
	}

/* Middle
-----------------------------------------------------------------------------*/

.container-menu {
	width: 100%;
}

.container-menu a {
	color: rgb(17, 88, 2);
	background-color: #F3A530;
	border-radius: 20px;
	text-decoration: none;
	font-weight: bold;
	text-align: center;
	padding: 10px;
	display: block;
}

.container-menu a:hover {
	color: rgb(161, 38, 38);
	background-color: rgb(172, 166, 166);

}

.container-menu ul {
		list-style-type: none;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
}

.container-menu li {
		min-width: 150px;
		border: 1px solid #367ABD;
		border-radius: 20px;
		position: relative;
		cursor: pointer;
		margin: 0;
		font-size: larger;
		transition: 0.1s;
}

.container-menu li:hover {
	margin: 0 10px;
}

ul.dropdown {
	display: flex;
	position: absolute;
	top: 100%;
	left: 0;
	visibility: hidden;
	opacity: 0;
	transition: 1s;
}

ul.dropdown li {
	padding: 0px;
	height: 0;
	background-color: #F3A530;
	width: 100px;
	transition: 1s;
}

.container-menu li:hover .dropdown {
	visibility: visible;
	opacity: 1;
}

.container-menu li:hover .dropdown li {
	padding: 0;
	height: 100%;
	margin-top: 1%;
}

ul.verticalDropdown {
	display: flex;
	position: absolute;
	top: 100%;
	left: 0;
	visibility: visible;
	opacity: 0;
	transition: 1s;
}

ul.verticalDropdown>li {
	padding: 0px;
	height: 0;
	background-color: #F3A530;
	width: 100px;
	transition: 1s;
}

імімімімімівфмивмичсмчсм

#menu-bar {
  width: 95%;
  margin: 0px 0px 0px 0px;
  padding: 6px 7px 12px 5px;
  height: 40px;
  line-height: 100%;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  box-shadow: 2px 2px 3px #666666;
  -webkit-box-shadow: 2px 2px 3px #666666;
  -moz-box-shadow: 2px 2px 3px #666666;
  background: #8B8B8B;
  background: linear-gradient(top,  #F3A530,  #AA6909);
  background: -ms-linear-gradient(top,  #F3A530,  #AA6909);
  background: -webkit-gradient(linear, left top, left bottom, from(#F3A530), to(#AA6909));
  background: -moz-linear-gradient(top,  #F3A530,  #AA6909);
  border: solid 1px #445CBD;
  position:relative;
  z-index:999;
}
#menu-bar li {
  margin: 0px 0px 6px 0px;
  padding: 0px 6px 0px 6px;
  float: left;
  position: relative;
  list-style: none;
}
#menu-bar a {
  font-weight: bold;
  font-family: arial;
  font-style: normal;
  font-size: 20px;
  color: #3D5C28;
  text-decoration: none;
  display: block;
  padding: 6px 20px 6px 20px;
  margin: 0;
  margin-bottom: 6px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  text-shadow: 1px 1px 1px #000000;
}
#menu-bar li ul li a {
  margin: 0;
}
#menu-bar .active a, #menu-bar li:hover > a {
  background: #FBCA67;
  color: #237A26;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  text-shadow: 1px 1px 1px #8CA3FF;
}
#menu-bar ul li:hover a, #menu-bar li:hover li a {
  background: none;
  border: none;
  color: #666;
  -box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
#menu-bar ul a:hover {
  background: #8AD4B6 !important;
  color: #237A26 !important;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  text-shadow: 1px 1px 1px #8CA3FF;
}
#menu-bar li:hover > ul {
  display: block;
}
#menu-bar ul {
  background: #DDDDDD;
  background: linear-gradient(top,  #FBCA67,  #FBF66C);
  background: -ms-linear-gradient(top,  #FBCA67,  #FBF66C);
  background: -webkit-gradient(linear, left top, left bottom, from(#FBCA67), to(#FBF66C));
  background: -moz-linear-gradient(top,  #FBCA67,  #FBF66C);
  display: none;
  margin: 0;
  padding: 0;
  width: 185px;
  position: absolute;
  top: 30px;
  left: 0;
  border: solid 1px #4F48B4;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-box-shadow: 1px 1px 1px #222222;
  -moz-box-shadow: 1px 1px 1px #222222;
  box-shadow: 1px 1px 1px #222222;
}

#menu-bar .subsub {
	position: absolute;
	right: 30px;
}

#menu-bar ul li {
  float: none;
  margin: 0;
  padding: 0;
}
#menu-bar ul a {
  padding:10px 0px 10px 15px;
  color:#237A26 !important;
  font-size:12px;
  font-style:normal;
  font-family:arial;
  font-weight: bold;
  text-shadow: 2px 2px 3px #83DE84;
}
#menu-bar ul li:first-child > a {
  border-top-left-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  border-top-right-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
}
#menu-bar ul li:last-child > a {
  border-bottom-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
}
#menu-bar:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#menu-bar {
  display: inline-block;
}
  html[xmlns] #menu-bar {
  display: block;
}
* html #menu-bar {
  height: 1%;
}

явавііфаіфпафпавфвмівм


/* Content
-----------------------------------------------------------------------------*/
.content {
	width: 1400px;
	height: auto;
	margin: 1%;
	padding: 0;
	background-color: #85e9be;
}

.mainPagePhotos {
	width: 100%;
	height: auto;
	display: flex;
	flex-basis: auto;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

.mainPagePhotos a {
	width: auto;
	height: auto;
	align-self: flex-start;
	border: 3px solid #6B7DFa;
	margin: 1%;
}


/* Footer
-----------------------------------------------------------------------------*/
.footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	padding: 0 auto 0 auto;

	/*min-width: 600px;*/
	width: 1400px;
	height: auto;
	background-color: #F3A530;
	padding: 1%;
  color: #367ABD;
  font-family: 'Roboto Slab', serif;
	margin-left: 10px;
}

.rights {
  width: auto;
  margin-left: 1%;
  font-size: 1.5em;
	align-self: flex-start;
}

.phone {
  width: auto;
	font-size: 2em;
	align-self: center;
}
